<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= category %></title>
</head>
<body>
    <h1><%= category %></h1>
    <%- include('./partials/nav') %>
    <% menu.forEach(item => { %>
        <ul>
            <li><%= item.name %>: <strong>$<%= item.price %></strong></li>
            <li>rating: <strong><%= item.rating %></strong></li>
            <li><%= item.details %></li>
        </ul>
    <% }) %>
</body>
</html>