<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= restaurant.name %>
    </title>
</head>

<body>
    <%- include('./partials/nav') %>
    <h1>Home Page</h1>
    <h2><%= restaurant.name %></h2>
    <% if(restaurant.isOpen) { %>
        <h3>Yes we are open!</h3>
    <% } %>
    <h4>Are address is: <%= restaurant.address %></h4>
    <h4>Contact us <%= restaurant.phone %></h4>
</body>

</html>