<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>

<body>
    <%- include('./partials/nav') %>
    <h1>Full Menu</h1>
    <% upperCaseCategorys.forEach(category => { %>
        <h2><%= category %></h2>
            <% menu.forEach(item => { %>
                <% if(item.category===category.toLowerCase()){ %>
                    <ul>
                        <li><%= item.name %>: <strong>$<%= item.price %></strong></li>
                        <li>rating: <strong><%= item.rating %></strong></li>
                        <li><%= item.details %></li>
                    </ul>
                <% } %>
            <% }) %>
    <% }) %>
</body>

</html>